.button {
  background-color: transparent;
  color: rgb(33, 33, 33);
  border: 1px solid rgb(93, 91, 91);
  padding: 6px 12px;
  border-radius: 8px;
}

.button:hover {
  background-color: rgb(33, 33, 33);
  color: white;
}
